{% extends 'base.html' %}

{% block title %}重置密码{% endblock %}
{% block beforehead %}


{% endblock %}
{% block content %}
<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="pageTitle">重置密码</h2>
            </div>
        </div>
    </div>
    </section>
    <section id="content">
    
 <div class="container">
        
<div class="row">
            <div class="col-lg-12">
                <img src="/static/img/avatar.png" alt="">

                <form id="app" v-on:submit.prevent="submit" class="uk-panel uk-panel-box uk-form">
                    <div class="uk-form-row">
                        {{ message }}
                    </div>
                    <div class="uk-form-row">
                        <input class="uk-width-1-1 uk-form-large" type="text" placeholder="请输入邮箱" v-model="email">
                    </div>
                    <div class="uk-form-row">
                        <input class="uk-width-1-1 uk-form-large" type="password" maxlength="50" placeholder="请输入新密码" v-model="password1">
                    </div>
                    <div class="uk-form-row">
                        <input class="uk-width-1-1 uk-form-large" type="password" maxlength="50" placeholder="请再次输入新密码" v-model="password2">
                    </div>
                    <div class="uk-form-row">
                        <button type="submit" class="btn btn-primary waves-effect waves-dark pull-right"><i class="uk-icon-user"></i> 发送</button>
                    </div>
                </form>

           </div>
    </div>
        </div>
</section>
   

{% endblock %}

{% block afterboday %}
<script>
    function initVM()
    {
    var vm = new Vue({
        el: '#app',
        data: {
            email  : '((email))',
            password1 : '',
            password2 : '',
            message:'((message))',
            passwdtmp :'((passwdtmp))',
        },
        methods: {
            submit: function () {
                
                if (! validateEmail(this.email.trim().toLowerCase())) 
                {
                    this.error = '请输入正确的Email地址';
                    return false;
                }
                 if (this.password1.length < 6) 
                {
                    this.error = '口令长度至少为6个字符';
                    return false;
                }
                if (this.password1 !== this.password2) 
                {
                    this.error = '两次输入的口令不一致';
                    return false;
                }

                $.post('/api/query_reset_password', 
                {
                    email:this.email,
                    password:CryptoJS.SHA1(this.email + ':' + this.password1).toString(),
                    passwdtmp:this.passwdtmp,
                }, 
                function (error, r) {
                    if (error) {
                        // var obj = JSON.parse(err)
                        if(error.message)
                            vm.message = error.message
                        else
                            
                                return location.assign('/');
                        // 
                    }
                    else
                    {
                       
                            return location.assign('/');
                    }

                });
            },

        }
    });
}
$(function() {
    initVM();
});
</script>
{% endblock %}