{% extends 'base.html' %}

{% block title %}重置密码{% endblock %}

{% block content %}
<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="pageTitle">重置密码</h2>
            </div>
        </div>
    </div>
    </section>
    <section id="content">
    
 <div class="container">
        
<div class="row">
            <div class="col-lg-12">
                <img src="/static/img/avatar.png" alt="">

                <form id="app" v-on:submit.prevent="submit" class="uk-panel uk-panel-box uk-form">
                    <div class="uk-form-row">
                        {{ message }}
                    </div>
                    <div class="uk-form-row">
                        <input class="uk-width-1-1 uk-form-large" type="text" placeholder="email" v-model="email">
                    </div>
                    <div class="uk-form-row">
                        <button type="submit" class="btn btn-primary waves-effect waves-dark pull-right"><i class="uk-icon-user"></i> 发送</button>
                    </div>
                </form>

           </div>
    </div>
        </div>
</section>
   

{% endblock %}

{% block afterboday %}
<script type="text/javascript">
    var vm = new Vue({
        el: '#app',
        data: {
            email  : '',
            password : '',
            message:'',
        },
        methods: {
            submit: function () {
                
                if (! validateEmail(this.email.trim().toLowerCase())) 
                {
                    this.error = '请输入正确的Email地址';
                    return false;
                }

                $.post('/api/req_reset_password', 
                {
                    email: vm.email,
                }, 
                function (error, r) {
                    if (error) {
                        // var obj = JSON.parse(err)
                        if(error.message)
                            vm.message = error.message
                        else
                            if (confirm("已经发送重置链接到您的邮件，请打开邮箱阅读，更多帮助，请联系管理员")) {  
                                return location.assign('/');
                            } 
                        // 
                    }
                    else
                    {
                        if (confirm("已经发送重置链接到您的邮件，请打开邮箱阅读，更多帮助，请联系管理员")) {  
                            return location.assign('/');
                        }  
                    }

                });
            },

        }
    });
</script>
{% endblock %}